



<!-- Jumbotron Banner Starts-->
<!-- <section class="content-section text-center">
  <div class="container-fluid">
    <div class="row">
      <div class = "jumbotron text-center" >
        <h1>About Us</h1>        
      </div>
    </div>
  </div>
</section> -->
<!-- Jumbotron Banner Ends-->


<!-- Introduction Row -->
<div class="container-fluid">	
	

  <section class="content-section jumbotron-banner text-center">
  <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class = "jumbotron text-center" >
        <h1>About Us</h1>
        <p>It's Nice to Meet You!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
      </div>
    </div>
  <!-- </div> -->
  </section>


 	<!-- Team Members Row -->

  <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
          <h2 class="page-header">Our Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="Gaurav Modi">
          <h3>Gaurav Modi
              <br><small>Web Development</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="Abhishek Kumar">
          <h3>Abhishek Kumar
              <br><small>Product Develoment & Marketing</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="Shivam Tiwari">
          <h3>Shivam Tiwari
              <br><small>Data Analysis</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
  </div>
  <hr>
</div>

  
