<!-- Jumbotron Banner Starts-->
<section class="content-section jumbotron-banner text-center">
  <div class="container-fluid">
    <div class="row">
      <div class = "jumbotron text-center" >
        <h1>Contact Us</h1>
        <p>For any queries feel free to contact</p>
      </div>
    </div>
  </div>
</section>
<!-- Jumbotron Banner Ends-->

<div class="container">
<h3><u>Send a mail to us:</u></h3>
<strong><h4>Gaurav Modi: gaurav.modi@live.in<br><br>
Abhishek Kumar: 1988kumar@gmail.com</strong></h4>
</div>