<!-- Jumbotron Banner Starts-->
<section class="content-section jumbotron-banner text-center">
  <div class="container-fluid">
    <div class="row">
      <div class = "jumbotron text-center" >
        <h1>MoonShot.in<small><sup>beta</sup></small></h1>
        <p>One Stop Solution for StartUp Funding</p>
      </div>
    </div>
  </div>
</section>
<!-- Jumbotron Banner Ends-->


 <!-- Categories Search Companies Dropdown Starts-->
<section>
  <div class="container-fluid category-filter">
    <div class="data-container col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      
      <div class="row">
        <%= form_tag companies_path, :method => 'get', class: 'search-banner'  do %>
          <%= text_field_tag :search, params[:search], class: 'search-query form-control', placeholder: 'Search...' %>    
        <% end %>
      </div>

      <!-- <div class="row">
        <div class="search-banner">
          <input type="search" class="search-query form-control" placeholder="Search..." />
        </div>     
      </div> -->
      
      <div class="row">
        <div class="">
          <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Categories
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="disabled"><a href="#">Accelerator</li>
            <li class="disabled"><a href="#">Angel Syndicate</li>
            <li class="disabled"><a href="#">Incubator</li>
            <li><a href="#">Venture Capital</li>
          </ul>
        </div>
      </div>
      
      <!--<div class="row">
      <div class="total-companies text-center">
        <h4>100 Investors</h4>
      </div>     
    </div>-->
    
    </div>      
  </div>
</section>
<!-- Categories Search Companies Dropdown Ends -->

<!-- List Starts -->
<section>
  <div class="container-fluid data-list">
    <div class="data-container col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      
      <div class="row">
        <div class="total-companies text-center">
          <h4>100 Investors</h4>
        </div>     
      </div>
      
      
      <div class="row">
        <div class="data-row">
        	<% @companies.each do |company| %>					
	          <h3><%= link_to company.name, company_path(company), class: 'company_name' %></h3>
	          <div class="intro-text"><%=company.description %></div>
	          <ul class="list-inline">
	            <li><i class="fa fa-university"></i> Venture Capital</li>
	            <!-- <li><i class="fa fa-map-marker"></i> Delhi 路 Mumbai 路 Bangalore</li>  -->
	          </ul>
          <% end %>
        </div>
      </div>


      <<!-- div class="row">
        <div class="data-row">
          <h3>Matrix Partners</h3>
          <div class="intro-text">Matrix Partners is a private equity investment firm focusing on venture capital investments in seed and early stage companies.
          </div>
          <ul class="list-inline">
            <li><i class="fa fa-university"></i> Venture Capital</li>
            <li><i class="fa fa-map-marker"></i> Delhi 路 Mumbai 路 Bangalore</li>              
          </ul>
        </div>
      </div> -->
    
    
    </div>      
  </div>
</section>
<!-- List Ends -->
