// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  
  border-radius: 0 !important;
  margin: 0px !important;
  background-color: #ECF0F1;
  color: black;
  height: 300px;
  padding: 100px;

}
/*
.jumbotron-banner {

	

}

.navbar {
  
  margin: 0px !important;
  
}

.search-banner {
  
  background-color: #2C3E50;
  padding: 0;
  margin: 10px 0 !important;
}

.search-query {
  
  border-radius: 0px;
  border: solid 0.3em;
  border-color: grey;
  //padding: 20px 10px;
  font-size: 1.6rem;
  color: red;
  height: 40px;    
  
}
.content-section {
  
  padding: 0;
  margin: 0px !important;
  
  
}

.category-filter {
  
  background-color: blue;
  margin: 0px !important;
  padding: 20px 0;
  
}

#dropdownMenu1{
  
  border-radius: 0;
  
}

.total-companies{
  
  margin: 0px 0 !important;
  color: white;
  
}

.data-list {
  
  padding: 0px 0;
  background-color: blue;
  
}

.data-container {
  
  //background-color: white;
  
}

.data-row {
  
  padding: 10px 30px;
  border: solid;
  border-width: 0 0 5px 0;
  border-color: red;
  background-color: white;

}
  

*/